<!DOCTYPE html>
<html lang="pl"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pierwsza strona</title>


</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">


            <h1>Trips</h1>
            <table>
                <tr>
                    <th>ID</th>
                    <th>from</th>
                    <th>to</th>
                    <th>duration</th>
                    <th>price</th>
                    <th>isPromoted</th>
                    <th>departure</th>
                    <th>return</th>
                </tr>
                <tr th:each="trip,iterationStatus  : ${trips}">
                    <td th:text="${iterationStatus.count}">1</td>
                    <td th:text="${trip.getDepartureCity().getName()}">Name</td>
                    <td th:text="${trip.getDestinationCity().getName()}">Name</td>
                    <td th:text="${trip.getDuration()}">Name</td>
                    <td th:text="${trip.getAdultPrice()}">Name</td>
                    <td th:text="${trip.isPromoted()}">Name</td>
                    <td th:text="${trip.getDepartureDate()}">Name</td>
                    <td th:text="${trip.getReturnDate()}">Name</td>


                </tr>
            </table>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

<!--<script th:src="@{js/jquery.min.js}"></script>-->
<!--<script th:src="@{js/bootstrap.min.js}"></script>-->
<!--<script th:src="@{js/scripts.js}"></script>-->
</body>
</html>